body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
}

.filter-container {
  display: block;
  margin: 50px;
}

.drag-area {
  position: relative;
  height: 35px;
  display: block;
  margin: 0 0;
  text-align: left;
}

.drag-area:before {
  content: "";
  position: absolute;
  top: 23px;
  right: 0px;
  bottom: auto;
  left: 0px;
  margin: 0;
  border-bottom: 1px solid red;
}

.ticks {
  position: absolute;
  width: 100%;
  height: 11px;
  top: 18px;
}

.tick {
  display: block;
  position: absolute;
  width: 1px;
  height: 11px;
  background: rgba(000,000,000,.25);
}

.drag-handle {
  display: block;
  position: absolute;
  -webkit-transition-duration: .1s;
  -webkit-transition-property: height, width, margin, background, border, border-radius;
  -webkit-transition-timing-function: ease-in;
  width: 30px;
  height: 30px;
  margin: -2px 0px 0px -24px;
  border: 10px solid transparent;
  border-radius: 25px;
  -ms-touch-action: none;
  touch-action: none;
  cursor: ew-resize;
}

.drag-handle.overlapping {
  width: 15px;
  border-radius: 25px 0 0 25px;
  border-right: none;
  margin: -2px 0px 0px -25px;
  cursor: w-resize;
}

.drag-handle.overlapping-max {
  border-radius: 0 25px 25px 0;
  border-right: 10px solid transparent;
  border-left: none;
  margin: -2px 0px 0px 1px;
  cursor: e-resize;
}

.drag-handle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background: rgba(174, 65, 58, 1);
  border-radius: 5px;
}

.drag-handle.overlapping:after {
  border-radius: 5px 0 0 5px;
  width: 6px;
  margin: -5px 0 0 0px;
}

.drag-handle.overlapping-max:after {
  border-radius: 0 5px 5px 0;
  width: 6px;
  margin: -5px 0 0 -7px;
}

.drag-handle:hover {
  margin: -1px 0px 0px -24px;
  border: 9px solid rgba(174, 65, 58, .5);
}

.drag-handle.overlapping:hover {
  border-top: 9px solid rgba(174, 65, 58, .5);
  border-left: 9px solid rgba(174, 65, 58, .5);
  border-bottom: 9px solid rgba(174, 65, 58, .5);
  border-right: none;
  background: none;
}

.drag-handle.overlapping-max:hover {
  border-right: 9px solid rgba(174, 65, 58, .5);
  border-left: none;
  margin: -1px 0px 0px 1px;
}

.drag-handle:hover:after {
  background: rgba(29, 22, 29, 1);
}

.drag-handle.touching:after {
  background: rgba(29, 22, 29, 1);
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.drag-handle.overlapping.touching:after {
  width: 2px;
  border-radius: 2px 0 0 2px;
  margin: -2px 0 0 0px;
}

.drag-handle.overlapping-max.touching:after {
  width: 2px;
  border-radius: 0 2px 2px 0;
  margin: -2px 0 0 -3px;
}

.drag-handle.touching {
  border: 9px solid rgba(174, 65, 58, 1);
  width: 12px;
  height: 12px;
  margin: 8px 0px 0px -14px;
}

.drag-handle.touching.overlapping {
  width: 6px;
  margin: 8px 0px 0px -15px;
  border: 9px solid rgba(174, 65, 58, 1);
  border-right: none;
}

.drag-handle.overlapping-max.touching {
  margin: 8px 0px 0px 2px;
  border: 9px solid rgba(174, 65, 58, 1);
  border-left: none;
}

.value-label {
  position: absolute;
  left: -40px;
  top: 30px;
  width: 80px;
  text-align: center;
}

.value-label-max {
  left: auto;
  right: -40px;
}

.value-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 11px;
  background: red;
  left: 50%;
  top: -12px;
}