<div class="filter-container">

<ce-slider
  ce-data="testData"
  ce-model="lowValue"
  ce-model-max="highValue"
  ce-ticks=""
  ce-drag-area-class="drag-area"
  ce-label-class="value-label"
  ce-label-max-class="value-label-max"
  ce-drag-handle-class="drag-handle"
  ce-drag-handle-content=""
  ce-drag-handle-max-class="drag-handle-max"
  ce-drag-handle-max-content=""
  ce-tick-container-class="ticks"
  ce-tick-class="tick"
  ce-touching-class="touching"
  ce-touching-class-out-delay="150"
  ce-dragging-class="dragging"
  ce-dragging-class-out-delay="50"
  ce-snap="snap"
  ce-drag-handle-overlap-class="overlapping"
  ce-drag-handle-overlap-max-class="overlapping-max"
>
</ce-slider>

</div>

<p>Data: {{testData}}</p>
<p>Min: {{lowValue}}</p>
<p>Max: {{highValue}}</p>

<label>
  <input type="checkbox" ng-model="snap" checked> Snap
</label>